.place_margin-bottom_karel {
  margin: 0;
}

@media (max-width: 1279px) {
  .place_margin-bottom_karel {
    margin: 0 0 4px 0;
  }
}

@media (max-width: 1023px) {
  .place_margin-bottom_karel {
    margin: 0;
  }
}
