.photo-grid__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  /* grid-auto-rows: 188px; */
  grid-gap: 16px;
  margin: 97px auto 100px auto;
  max-width: 1184px;
}

@media (max-width: 1279px) {
  .photo-grid__wrapper {
    width: calc(100% - 96px);
    margin: 97px auto 115px auto;
  }
}

@media (max-width: 1023px) {
  .photo-grid__wrapper {
    width: calc(100% - 48px);
    margin: 97px auto 100px auto;
  }
}

@media (max-width: 767px) {
  .photo-grid__wrapper {
    width: calc(100% - 32px);
    margin: 67px auto 62px auto;
    grid-gap: 21px;
  }
}

@media (max-width: 374px) {
  .photo-grid__wrapper {
    grid-gap: 9px;
    margin: 67px auto 64px auto;
  }
}
