.lead__title {
  font: normal 900 96px/93px Inter;
  text-align: center;
  color: #fff;
  max-width: 782px;
  margin: 55px 0 35px 1px;
}

@media (max-width: 1279px) {
  .lead__title {
    margin: 55px 0 32px -18px;
  }
}

@media (max-width: 1023px) {
  .lead__title {
    margin: 55px 0 35px -3px;
  }
}

@media (max-width: 767px) {
  .lead__title {
    font: normal 900 40px/44px Inter;
    width: calc(100% - 32px);
    margin: 48px 0 11px 1px;
  }
}
