.lead__image {
  object-fit: cover;

  width: 100%;
  height: auto;
}

@media (max-width: 1279px) {
  .lead__image {
    height: 553px;
  }
}

@media (max-width: 1023px) {
  .lead__image {
    height: 420px;
  }
}

@media (max-width: 767px) {
  .lead__image {
    height: 211px;
  }
}

/* @media (max-width: 374px) {
  .lead__image {
    object-fit: fill;
  }
} */
