.video__item_hovered:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  transition: opacity 0.9s ease-in-out;
  opacity: 0.5;
  border-radius: 4.6px;
}

.video__item_hovered:hover:before {
  opacity: 0.8;
}
