.video__subtitle {
  font: normal 14px/15px Inter;
  color: #fff;
  margin: 0;
  z-index: 1;
}

@media (max-width: 1279px) {
  .video__subtitle {
    margin: 0 0 5px 0;
  }
}

@media (max-width: 1023px) {
  .video__subtitle {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 374px) {
  .video__subtitle {
    max-width: 252px;
  }
}
