.lead__caption {
  font: normal normal 10px/12px Inter;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  align-self: flex-start;
  margin: 11px 0 0 0;
}

@media (max-width: 1279px) {
  .lead__caption {
    margin: 19px 0 0 0;
  }
}

@media (max-width: 1023px) {
  .lead__caption {
    width: calc(100% - 48px);
    margin: 18px auto 0 auto;
  }
}

@media (max-width: 767px) {
  .lead__caption {
    width: calc(100% - 32px);
    margin: 8px auto 0 auto;
  }
}
