.place_margin-bottom_kosa {
  margin: 0 0 83px 0;
}

@media (max-width: 1279px) {
  .place_margin-bottom_kosa {
    margin: 0 0 67px 0;
  }
}

@media (max-width: 1023px) {
  .place_margin-bottom_kosa {
    margin: 0 0 47px 0;
  }
}

@media (max-width: 767px) {
  .place_margin-bottom_kosa {
    margin: 0 0 55px 0;
  }
}
